@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-red: #c41525;
  --dark-red: #8b1f27;
  --gradient: linear-gradient(80deg, var(--light-red) 15%, var(--dark-red) 50%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Alegreya Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
}

label[for] {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
